<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- As 3 meta tags acima *devem* vir em primeiro lugar dentro do `head`; qualquer outro conteúdo deve vir *após* essas tags -->
   <title>{{titulo}}</title>

    <!-- Bootstrap -->
    <link href="App/Resouces/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim e Respond.js para suporte no IE8 de elementos HTML5 e media queries -->
    <!-- ALERTA: Respond.js não funciona se você visualizar uma página file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">

        <!-- Menu superio-->
		    <div class="row" style="margin-left: 15%;">
            {% for menu in menus %}
                <a href="{{menu.link}}" class="btn btn-primary btn-md" style="margin-top:10%; s">{{menu.nome}}</a>
            {% endfor %}
        </div>

		 <div class="row">

        <!-- Menu Lateral-->
		    <div class="col-sm-3" style="/*background-color:lavender*/; margin-top:20%;">
		    	{% for menuLateral in menusLateral %}
                <li style="list-style-type: none;"><b><a href="{{menuLateral.link}}">{{menuLateral.nome}}</a></b></li>
          {% endfor %}
		    </div>
		    
		    <!-- Menu interno-->
		    <div class="col-sm-8" style="background-color:white; margin-top: 5%;">
         
          {% if (agendas != null)%}
          <p style="text-align: center" class="btn btn-primary btn-block active">{{lab}}</p>
          <br />
            <div class="embed-responsive embed-responsive-4by3">
              <iframe src="{{agendas}}" class="embed-responsive-item"></iframe>
            </div>
          {% endif%}

          <ul>
					{% for subMenu in subMenus %}
						<a href="{{subMenu.link}}" style="text-align: left; " class="btn btn-primary btn-block">{{subMenu.nome}}</a><br />
					{% endfor %}
				</ul>

			</div>

		    <div class="col-sm-1" style="/*background-color:lavender;"></div>
		</div>
	</div>
    
    <footer style=" margin-top: 25%; text-align: center;">
      {{footer}}
    </footer>
    
    <!-- jQuery (obrigatório para plugins JavaScript do Bootstrap) -->
    <script src="App/Resouces/js/jquery.min.js"></script>
    <!-- Inclui todos os plugins compilados (abaixo), ou inclua arquivos separadados se necessário -->
    <script src="App/Resouces/js/bootstrap.min.js"></script>
  </body>
</html>